<!DOCTYPE html>
<html>
<head>
    <title>Chatbot with Sentiment Analysis</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    
</head>
<body>
    <div class="container">
        <h1>Chat with our Bot</h1>
        <form action="/response.html" method="post">
            <input type="text" name="user_input" placeholder="Enter your message">
            <a href="http://127.0.0.1:5500/templates/response.html">Send</a>
        </form>
    </div>
    <script>
        function sendMessage() {
            const userInput = $('#user-input').val();
            $.ajax({
                url: '/get_response',
                type: 'POST',
                contentType:'application/json',
                data: JSON.stringify({ message: userInput }),
                success: function(response) {
                    $('#messages').append('<div>User: ' + userInput + '</div>');
                    $('#messages').append('<div>Bot: ' + response.response + '</div>');
                    $('#user-input').val('');
                }
            });
        }
    </script>
</body>
</html>

